 nav.large_menu {
  font-size: 12px;
  background: linear-gradient(75deg,
   #98BF64,#B2D3C2);
  height: 100vh;
  position: fixed;
   top: 0;
   left: 0;
  min-height: 400px;
  width: 250px;
}

nav.large_menu ul {
  list-style-type: none;
}


main {
  position: relative;
  margin-left: 250px;
}

 nav.large_menu li {
  padding-top: 10px;
  font-size: 16px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

nav.large_menu a:hover {
  color: #3A5311;
}

.nav-link {
  color: #EEEEEE;
}

.list-title {
  font-size: 28px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

a {
  color: #3A5311;
  text-decoration: none;
}

code {
  border-radius: 5px;
  font-family: monospace;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.24);
}

@media only screen and (max-width: 420px) {
  main {
    margin-left: 0;
  }
}
section {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

header {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.author {
  display: block;
  padding-left: 15px;
  font-size: 12px;
}

article {
  display: flex;
  flex-direction: column;
}

body{
  font-family:Arial, sans-serif;
}